* {
    margin: 0;
    padding: 0;

}

body{
    background-color: #dcd5d0;
}

header {
    background-color: #35312d;
    width: 100%;
    height: 120px;
}

header .header-brand {
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    text-align: left;
    padding: 20px;
    padding-bottom: 10px!important;
    text-decoration: none;
    letter-spacing: 12px;
}

header .header-brand2 {
    font-size: 14px;
    font-weight: 100;
    color: white;
    display: block;
    margin: 0;
    text-align: left;
    padding: 0 20px;
    text-decoration: none;
}

header nav {
    padding-right: 20px;
    display: inline-block;
    float: right;
    margin-top: 0!important;
}

header nav ul {
    display: block;
    margin: 0;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: center;
    list-style: none;
    padding: 0;
}

header nav ul li a {
    font-size: 16px;
    font-weight: 200px;
    color: white;
    text-decoration: none;
    padding: 20px;
    padding-top: 0!important;
}

header nav ul li a:hover {
    text-decoration: none;
}


/*DOWNLOAD BUTTON*/

button {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 2;
}

button:hover {
    text-decoration: underline;
}

.emailForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    color: #35312d;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 2;
}

.email {
    margin-bottom: 10px;
    border: 1px solid #333;
    padding: 5px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.openPopup {
    right: 10px;
    bottom: 10px;
    position: fixed;

}

.closePopup {
    background-color: white;
    border: none;
    color: #35312d;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 2;
    right: 0;
}

.submit {
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 2;
    right: 0;
}

.error {
    display: none;
}


/*FIRST SECTION*/

.backgr_image {
    width: 100%;
    height: 35vh;
    background-image: url('img1.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: table;
    margin-top: 0!important;
}

.footer_image {
    width: 100%;
    height: 35vh;
    background-image: url('img1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    bottom: 0;
    position: relative;
}


/*MENU SECTION*/

.container {
    margin-left: auto;
    margin-right: auto;
    float: center;
    width: 100%;
    display: table;
    padding: 100px 0;
}

.container img {
    width: 100%;
    height: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.box {
    border: 2px solid rgba(168, 181, 185, 0.3);
    border-radius: 15px;
    padding: 0px;
    margin: 3px;
    background-color: #edece8;
}

.box p {
    font-size: 12px;
    color: #131B28;
    text-align: left;
    padding: 7px;
    letter-spacing: 0.8px;
}

p.price {
    font-size: 12px;
    color: #131B28;
    text-align: left;
    letter-spacing: 0.8px;
    margin-bottom: 10px!important;
    padding-bottom: 0;
}

.product_name {
    /*background-color: #96e072;*/
    background-color: #b3c186;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product_name p {
    font-size: 1em;
    font-weight: 300px;
    color: #131B28;
    text-align: center;
    padding: 7px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 0;
}

.whyus {
    background-color: beige;
}

.whyus_row {
    padding: 10%;
}

.whyus h4 {
    text-align: center;
    padding: 10%;
}

.whyus p {
    text-align: center;
}


/*Social media links*/

.socialmedia {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.socialmedia img {
    padding: 5px;
}

.footer_links ul {
    padding: 50px 0;
    padding-left: 40%!important;
    padding-right: 5%;
    color: #080c0a;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer_links ul li {
    padding: 10px 0;
}